
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
.content{
    background: linear-gradient(to bottom ,#000c40,#f0f2f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}
.input-body {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 35%;
    left: 50%;
}
form {
    background: rgba(255,255,255,0.3);
    padding: 3em;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
}
.input-body{
    text-align: center;
    justify-content: center;
}
input {
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-radius: 5000px;
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.button{
    background-color:black;
    border: none;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    background-color: #0B1648;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
#error{
    color: red;
}
.textarea{
    resize: none;
    background-color: rgba(255,255,255,0.3);
    overflow: auto;
    border: none;
    outline: none;
    width: 540px;
    height: 150px;
}